@use "../utils/variables" as v;

.btn-primary {
  background: v.$accent-blue;
  color: v.$text-light;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  transition: background 0.3s, transform 0.3s;

  &:hover {
    background: v.$accent-hover;
    transform: translateY(-2px);
  }
}
