@use "../utils/variables" as v;

.navbar {
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: v.$text-light;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.navbar a:hover {
  background: v.$secondary-gray;
}
